{% extends "frontend/new_base.html" %}
{% load static %}
{% load i18n %}
{% load templatehelpers %}
{% load widget_tweaks %}

{% block content %}
<div class="m-content">
    <div class="m-portlet-center">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                <i class="flaticon-user m--font-primary"></i>
              </span>
                            <h3 class="m-portlet__head-text">
                              {% if role == 'complaint' %}
                              {% trans 'Edit Complaint' %}
                              {% endif %}
                                <small>{% trans 'Information' %}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <form id="token-form" method="{{form.method|default:'POST'}}" class="{{form.class}} m-form" action="{{form.action|default:request.path}}" {% if files %} enctype="multipart/form-data" {% endif %}>


                  <!-- ------------- -->
                  <div class="m-portlet__body">
                    {% if not token_included %}
                    {% csrf_token %}
                    {% endif %}

                    <div class="container-fluid">
                      {% if form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                      </div>
                      {% endif %}

                      {% for hidden_field in form.hidden_fields %}
                      {% comment %}
                      {% if hidden_field.errors %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {% for error in hidden_field.errors %}
                        {{ error }}
                        {% endfor %}

                      </div>
                      {% endif %}
                      {% endcomment %}
                      {{hidden_field}}
                      {% endfor %}
                    </div>
                    <div class="row">
                    {% for field in form.visible_fields %}
                    
                    {% if field.name != 'phone_number' and field.name != 'phone_code' %}
                    <div class="col-md-6">
                    <div class="form-group">
                      {% if field.field.widget.is_toggle %}
                      {% render_field field placeholder=field.label %}
                      {% elif field.field.widget.input_type == 'checkbox' and field.field.widget.attrs.key != 'default_offer_checkbox_toggle' and field.field.widget.attrs.key != 'status_checkbox_toggle' %}

                      <label class="m-checkbox m-checkbox--solid">
                        {% I18n_advanced_label_tag field %}
                        {% render_field field  placeholder=field.label %}
                        <span></span>
                      </label>          
                      {% elif field.field.widget.attrs.placeholder %}   
                        {% I18n_advanced_label_tag field %}
                        <div>
                          <div id="prefix-{{field.name}}" class="{{field_prefix_class}}">{{prefix_content}}</div>
                          {% if extra %}
                          {% comment %} {{ extra|getattribute:field.name|safe }} {% endcomment %}
                          {% endif %}
                        </div>
                        <div class="pt-2">
                          {% render_field field placeholder=field.field.widget.attrs.placeholder %}
                          <div id="suffix-{{field.name}}" class="{{field_suffix_class}}">{{suffix_content}}</div>
                        </div> 
                      {% else %}   
                      {% I18n_advanced_label_tag field %}
                      {% comment %} {{form|afl_validate_help_text:field}}  {% endcomment %}
                      <div>
                        <div id="prefix-{{field.name}}" class="{{field_prefix_class}}">{{prefix_content}}</div>
                        {% if extra %}
                        {% comment %} {{ extra|getattribute:field.name|safe }} {% endcomment %}
                        {% endif %}
                      </div>
                      <div class="pt-2 5">
                        {% render_field field placeholder=field.label %}
                        <div id="suffix-{{field.name}}" class="{{field_suffix_class}}">{{suffix_content}}</div>
                      </div>
                      {% endif %}
                      {% if field.help_text %}
                      {% comment %} <small class="form-text text-muted">
                        {{ field.help_text|safe }}
                      </small> {% endcomment %}
                      {% endif %}
                    </div>
                  </div>
                    {% elif field.name == 'phone_number' %}
                    <div class="col-md-6">
                    <div class="form-group">
                      <label class="required ">
                      {% if form.phone_number and form.phone_code %}
                      {{field.label}}{% if field.field.required %} *{% endif %}:
                      </label>
                      <div class="input-group mt-2">
                       <div class="input-group-prepend" style="width:100px;">
                         {% if form.phone_code %}
                         {% with field=form.phone_code %}
                         {% render_field field  placeholder=field.label %}
                         {% endwith %}
                         {% endif %}
                       </div>
                       {% if form.phone_number %}
                       {% with field=form.phone_number %}
                       {% render_field field  placeholder=field.label %}
                       {% endwith %}
                       {% endif %}
                     </div>
                     {% endif %}
                   </div>  
                  </div>
                   {% endif %}
                
                   {% endfor %}
                  </div>
                 </div>
                 <!-- ------------- -->
                 <div class="m-portlet__foot m-portlet__foot--fit">
                  <div class="m-form__actions">
                    <div class="row">
                      <div class="col-lg-9 m-3">
                        {% if form.buttons %} {% if form.token_field.errors or not form.token_field.value %}

                        <div id="buttons-parent" class="buttons">
                          <div class="m-loader m-loader--brand custom-loader" style="width: 30px; display: none;"></div>
                          <button type="submit" name="token_submit"  id="token-send" class=" btn btn-brand" disabled="disabled">
                            {% trans 'Save changes'%}
                          </button>
                          <button type="reset" id="form-reset" class=" btn btn-warning">
                            {% trans 'Clear'%}
                          </button>
                          <button type="button" name="back" onclick="window.history.back();" id="form-back" class=" btn btn-outline-dark">
                            {% trans 'Back'%}
                          </button>
                        </div>

                        {% else %} {% include 'buttons.html' with buttons=form.buttons %} {% endif %} {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                </form>
            </div>
    </div>
</div>
{% endblock %}

{% block stylesheet %}
<style type="text/css">
  select {
    appearance: auto !important;
    background-color: white !important;
  }
</style>
{% endblock %}



{% block javascript %}

  <script src="{% static 'backoffice/js/datatables.js' %}" type="text/javascript"></script>
  <script src="{% static 'backoffice/js/bulk-opration-table.js' %}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/dal-custom/autocomplete.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/jquery.post-setup.js' %}"></script>
  
  {% if page_filter %}
    {% include 'filter/filter.js' with page_filter=page_filter %}
  {% endif %}

  <script>
  var initialValues = {};
  var complaint_id = "{{ complaint_id }}";
  var manage_complaints_url = "{{ manage_complaints }}"
  var role = "{{ role }}"
  function token_send(obj){
    var formData = new FormData(document.getElementById('token-form'));
    updateCompliantUrl = updateCompliantUrl.replace('<complaint_id>', complaint_id);
    callApi({
      url: serverUrl + updateCompliantUrl,
      method: 'PUT',
      data: formData,
      processData: false,
      contentType: false,
      success: function(response) {
          toastr.success("Complaint updated successfully!");
          setTimeout(function() {
            window.location.href = manage_complaints_url;
          }, 500);
      },
      error: function(xhr, status, error) {
        if (xhr.status === 401 || xhr.status === 403) {
          window.location.href = dashboardUrl
        } else if (xhr.status === 400) {
          console.log(xhr, error)
          setErrorMessage(xhr.responseJSON)
        } else {
          toastr.error("Something went wrong please try again");
        }
      }
    });
  }

$(document).ready(function(){

    $.validator.addMethod(
      "regex",
      function(value, element, regexp) {
          var re = new RegExp(regexp);
          return this.optional(element) || re.test(value);
      },
      "Please check your input."
    );
    var errorClass = 'invalid-feedback';
    var rules = {
      assignee: {
        required: true
      }
    }
    var messages = {
      assignee: {
        required: "Please select an order."
      }
    }
    $('#token-form').validate({
      rules:rules,
      messages:messages,
      submitHandler:(form) => {
        token_send();
      },
      invalidHandler: (event, validator) => {
          validator.showErrors();
      },
      onkeyup: false,
      onfocusout:function(element){
          this.element(element);
      },
      errorPlacement:(error, element) => {
          if ($(element).attr('type') == 'checkbox'){
              element.parent().find('.invalid-feedback').remove()
              element.removeClass("is-valid");
              element.addClass("is-invalid");
          } else {
              element.parent().find('.invalid-feedback').remove()
              errorDiv = $('<div class="invalid-feedback"></div>');
              errorDiv.append(error.text());
              element.after(errorDiv);
              element.removeClass("is-valid");
              element.addClass("is-invalid");
          }
      },
      success:(label,element) => {
          $(element).parent().find(errorClass).remove()
          $(element).removeClass("is-invalid");
          $(element).addClass("is-valid");
      }
    });
    getComplaintUrl = getComplaintUrl.replace('<complaint_id>', complaint_id);
    callApi({
      url: serverUrl + getComplaintUrl,
      method: 'GET',
      success: function(response) {
        var complaintData = response;
        $('form#token-form input, form#token-form select, form#token-form textarea').each(function() {
          if (namesArray.includes($(this).attr('name'))){
            if ($(this).attr('name') === 'assignee') {
              var select2Dropdown = $(`#${$(this).attr('id')}`);
              var valueToCheck = complaintData[$(this).attr('name')];
              var valueToCheckLabel = complaintData[$(this).attr('name')+ '_label'];
              if (select2Dropdown.find(`option[value="${valueToCheck}"]`).length === 0) {
                var newOption = new Option(valueToCheckLabel, valueToCheck, true, true);
                select2Dropdown.append(newOption)
              }
              select2Dropdown.val(valueToCheck).trigger('change');
              initialValues[$(this).attr('name')+ '_label'] = valueToCheckLabel;
            } else if ($(this).attr('name') === 'description') {
              console.log(complaintData[$(this).attr('name')])
              $('textarea[name="'+$(this).attr('name')+'"]').val(complaintData[$(this).attr('name')]).trigger('change');
            }
            else {
              $('input[name="'+$(this).attr('name')+'"]').val(complaintData[$(this).attr('name')]).trigger('change');
            }
            initialValues[$(this).attr('name')] = $(this).val();
            changeChecking()
          }
        });
      },
      error: function(xhr, status, error) {
            if (xhr.status === 401 || xhr.status === 403) {
                  window.location.href = dashboardUrl
            } else {
                  toastr.error("Something went wrong please try again");
            }
      }
    });

    var namesArray = ['assignee', 'title', 'description']

    $("form#token-form").focusout( function(){
      changeChecking()
    })

    $(document).on('click','#form-reset', function(){
      event.preventDefault();
      $('form#token-form input, form#token-form select, form#token-form textarea').each(function() {
        if ($(this).attr('name') === 'assignee') {
          var select2Dropdown = $(`#${$(this).attr('id')}`);
          var valueToCheck = initialValues[$(this).attr('name')];
          var valueToCheckLabel = initialValues[$(this).attr('name')+ '_label'];
          if (select2Dropdown.find(`option[value="${valueToCheck}"]`).length === 0) {
            var newOption = new Option(valueToCheckLabel, valueToCheck, true, true);
            select2Dropdown.append(newOption)
          }
          select2Dropdown.val(valueToCheck).trigger('change');
        } else {
          var fieldName = $(this).attr('name');
          $(this).val(initialValues[fieldName]);
        }
      });
      $("#token-send").attr("disabled", true)
      $("button[name='personal_details']").attr("disabled", true)
      $('#token-form').find('.invalid-feedback').remove()
      changeChecking()
    })

    function changeChecking(){
      var current_values = {}

      $('form#token-form input, form#token-form select, form#token-form textarea').each(function() {
        var elementName = $(this).attr('name');
        if (namesArray.includes(elementName)){
          current_values[elementName] = $(this).val();
        }
      });

      var isSame = true;
      console.log(initialValues, current_values)
      namesArray.forEach( value => {
        if (initialValues[value] != current_values[value]) {
          isSame = false;
          return false;
        }
      });
      console.log("is same", isSame);
      if (isSame){
        $("#token-send").attr("disabled", true)
        $("button[name='personal_details']").attr("disabled", true)
      }else{
        $("#token-send").attr("disabled", false)
        $("button[name='personal_details']").attr("disabled", false)
      }
    }

    let $assigneeSelect = $('#id_assignee');

    // Initialize Select2
    $assigneeSelect.select2({
      placeholder: $assigneeSelect.attr('data-placeholder'),
      minimumInputLength: 1,
      language: {
        inputTooShort: function(args) {
          return "Please enter 1 or more characters";
        }
      },
      ajax: {
        url: $assigneeSelect.attr('data-url'),
        dataType: 'json',
        delay: 250,
        processResults: function (data) {
          return {
            results: data.results.map(function(item) {
              return { id: item.id, text: item.text };
            })
          };
        }
      }
    });

  })
</script>
{% endblock %}