@mixin card02(){
  .card02{
    padding: 1.5rem;
    border-radius: 15px;
    flex-grow: 1;
    .icn{
      width: 24px;
      height: 24px;
    }
    .card-title{
      font-size: 24px;
      font-weight: 400;
      color: $body-color;
    }
    .card-text{
      font-size: 14px;
      font-weight: 400;
      color: rgba($body-color,0.8);
    }
    .card-text-small{
      font-size: 12px;
      font-weight: 400;
      color: rgba($body-color,0.6)
    }
    
  }
}
@include card02();